<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="userFilePath" value="..\..\Files\users\" />
		<add key="infoFilePath" value="..\..\Files\logs\info\" />
		<add key="errorFilePath" value="..\..\Files\logs\error\" />
		<add key="accountFilePath" value="..\..\Files\accounts\" />
		<add key="userFile" value="users.txt"/>
		<add key="accountFile" value="accounts.txt"/>
	</appSettings>
</configuration>